@use '../../styles/variables' as vars;

.timeline-container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  @media (min-width: 768px) {
    padding-bottom: 100px;
    border: 1px solid rgba(vars.$line-color, 0.1);
  }
}

.grid-lines {
  display: none;
  @media (min-width: 768px) {
    display: block;
    height:auto;
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(vars.$line-color, vars.$line-color),
      linear-gradient(90deg, vars.$line-color, vars.$line-color);
    background-repeat: no-repeat, no-repeat;
    background-position: center 480px, center center;
    background-size: 100% 1px, 1px 100%;
    opacity: 0.1;
    pointer-events: none;
  }
}

.timeline {
  height: 100%;
  padding: 59px 20px 14px;

  @media (min-width: 768px) {
    display: block;
    overflow: clip;
    padding: 170px 0 0;
    position: relative;
    height: auto;
  }
}

.title-block {
  margin-bottom: 56px;

  .gradient-bar {
    display: none;
  }
  .main-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: vars.$line-color;
    white-space: pre-wrap;
  }
  @media (min-width: 768px) {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 78px;
    margin-bottom: 0;

    .gradient-bar {
      display: block;
      width: 5px;
      align-self: stretch;
      margin: 7px 0;
      background: linear-gradient(to bottom, vars.$blue-color, vars.$pink-color);
    }
    .main-title {
      font-size: 56px;
    }
  }
}

.timeline-content {
  position: relative;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;


  .timeline-years {
    pointer-events: none;
    position: relative;
    display: inline-block;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 56px;
    font-weight: 700;
    color: vars.$line-color;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 56px;

    span {
      color: vars.$pink-color;
    }
    span:first-child {
      color: vars.$blue-color;
    }
  }

  
  @media (min-width: 768px) {
    margin-bottom: -48px;

    .timeline-years {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px;
      line-height: 160px;
      letter-spacing: -4px;
      margin-bottom: 0;
    }
  }
}

.timeline-divider {
  display: block;
  height: 1px;
  background-color: #C7CDD9;

  @media (min-width: 768px) {
    display: none;
  }
}

.timeline-controls {
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 56px;
  }
}
